<h1>Batterypack statistics</h1>
<a href="{{ url('batterypack_new') }}">Add new batterypack</a>
<table border="1">
    <tr>
        <th>Battery type</th>
        <th>Total amount</th>
    </tr>
    {% for batterypack in batterypacks %}
        <tr>
            <td>{{ batterypack.type }}</td>
            <td>{{ batterypack.totalAmount }}</td>
        </tr>
    {% endfor %}
</table>
